<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>TOP EDUCATION</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<header th:replace="plantilla :: header"></header>
    <div class="container">
		<div class="card bg-ligth">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{'/arancel/guardar'}" th:object="${arancel}" method="post">
					<div class="form-group row">
						<input type="hidden" th:field="*{idArancel}">
						<label class="col-md-2" for="valor">Valor</label>
						<input type="text"
							   th:field="*{valor}"
							   class="form-control-sm col-md-6"
							   id="valor"
							   placeholder="Valor del arancel"
							   pattern="\d+"
							   required>
						<small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-2" for="anio">Año</label>
						<input type="text"
							   th:field="*{anio}"
							   class="form-control-sm col-md-6"
							   id="anio"
							   placeholder="Año de vigencia del arancel"
							   pattern="^\d{4}$"
							   required>
						<small></small>
					</div>
					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
					</div>
				</form>
			</div>
		</div>
    </div>
	<!--<footer th:replace="plantilla :: footer"></footer>-->
</body>
</html>