<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: head">
    <title>TOP EDUCATION</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<header th:replace="plantilla :: header"></header>
	<div class="container d-flex justify-content-center align-items-center">
		<img th:src="@{'/images/TopEducation.png'}" height="225" width="225"/>
	</div>
	<div class="container d-flex justify-content-center align-items-center">
		<img th:src="@{'/images/trabajohonesto.jpg'}" height="225" width="225"/>
	</div>
	<footer th:replace="plantilla :: footer"></footer>
</body>
</html>