<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>TOP EDUCATION</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div class="text-center">
		<h1>Pagina inicial</h1>
	</div>
    <div class="container-sm">
    	<table class="table">
    		<tbody>
    			<tr>
					<td><a class="btn btn-info" href="#" role="button">Tipos de Colegio</a></td>
					<td><a class="btn btn-info" href="#" role="button">Colegios</a></td>
					<td><a class="btn btn-info" href="#" role="button">Estudiantes</a></td>
    			</tr>
				<!--
				<tr>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
    			</tr>
				<tr>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
    			</tr>
				<tr>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
					<td><a class="btn btn-primary" href="#" role="button">Tipo Colegio</a></td>
    			</tr>
				-->
    		</tbody>
    	</table>
    </div>
</body>
</html>